@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #0ea5e9 /*#38bdf8*/;
  --color-text-light: #0f172a; /* slate-900 */
}

html,
body {
  @apply bg-white text-text-light dark:bg-slate-900 dark:text-white flex flex-col;
  font-size: clamp(12px, calc(1vw + 1vh), 18px);
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.page{
  @apply min-h-screen  flex flex-col items-center;
}

.font-heading{
  @apply font-['Poppins',sans-serif] font-bold;
}

.font-main{
  @apply font-['Bricolage_Grotesque',sans-serif] font-normal;
}

.button-primary{
  @apply block bg-primary text-white px-6 py-2 rounded-lg hover:bg-white hover:text-primary hover:scale-110 transition
}

.box-primary{
  @apply bg-primary text-white px-6 py-2  flex justify-center  items-center rounded-lg hover:bg-white hover:text-primary hover:scale-110 transition
}

.box-classic{
  @apply border border-white  text-white px-10 py-10  flex justify-center  items-center rounded-lg hover:bg-white hover:text-primary hover:scale-110 transition
}

.paragraph{
  @apply max-w-2xl text-lg ;
}

.section{
  @apply flex flex-col items-center justify-center w-full text-center mt-20 px-20;
}

.section--nopx{
  @apply px-0;
}

.section-nested{
  @apply flex flex-col justify-center w-full text-center ;
}

.box-holder{
  @apply flex flex-col items-center justify-center mt-60 border border-white gap-10 p-7 rounded-3xl
}

.nav-link{
  @apply h-fit p-2 w-full flex flex-row bg-primary  items-center justify-start px-10 gap-7 font-['Bricolage_Grotesque',sans-serif] font-normal hover:scale-125 hover:bg-white hover:text-primary
}

.custom-bullet::before {
  content: var(--bullet-content); /* Read the variable */
  position: absolute;
  left: 0;
  top: 0;
}

.slick-slide img{
  height: 100%; !important
  display: block;
}